body {
  margin: auto;
  background: rgb(233, 250, 250);
  background-image: url("../public/bgnew.jpg");
  font-family: "Noto Serif", serif;
}

p {
  font-size: 40px;
  color: rgb(0, 0, 0);
  padding: 247px 40px;
  text-align: right;
  height: 20px;
  font-weight: lighter;
}

.form-group {
  overflow: hidden;
  clear: both;
}
